/* GENERAL */
.content{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-weight:200
}
/* GENERAL */

body{
    display: flex;
    flex-direction: column;
    font-family: 'Century Gothic', sans-serif;
    font-weight:200;
}
/* HEADER STYLES */


.header{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-basis: 50px;
    justify-content: space-between;
    gap: 10px;
    background-color: #DDD0C8;
}
.lefthead{
    display: flex;
    flex-basis: 300px;
    flex-wrap: wrap;
    font-family: 'Copperplate', sans-serif;
    font-size: 24px;
    font-weight:400;
    justify-content: flex-end;
    flex-shrink: 0;

    margin-left: auto;
    margin-right: auto;
}

.righthead{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 12px;

}
.logo{
    gap: 5px;

}
#nukeicon{
    width: 24px;
    height: 24px;
}

/* HEADER STYLES */



/* SECTION 1 */
.sec1{
    flex-wrap: wrap;
    background-color: #DDD0C8;
    gap: 40px;

}

#smoke-detector{
    filter: drop-shadow(0px 0px 10px tan);
    width: 300px; 
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}
#sellbutton{
    filter: drop-shadow(3px 3px 2px black);
    display: block;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
/* SECTION 1 */

/* SECTION 2 */
.sec2{
    flex-direction: column;
    gap: 30px;
    background-color: #eddfd5;
    padding-bottom: 25px;
}
.imglist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.imglistimage{
    width: 150px;
    height: 150px;
    filter: drop-shadow(2px 2px 0px black);
    border: white solid 10px;
    outline: black;    
    border-radius: 15px;
}

.imglistitem{
    
    display: flex;
    flex-direction: column;
    flex-basis: 150px;

}
.imglistitem > .imglistcaption{
    text-align: center;
    margin-top: 25px;
}
/* SECTION 2 */

/* SECTION 3 */

.sec3{
    flex-direction: column;

    background-color: #DDD0C8;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15%;
    padding-bottom: 15%;
}

/* SECTION 3 */

/* SECTION 4 */
.sec4{
    background-color: #eddfd5;
}

/* SECTION 4 */

#logoquote{
    font-size: 10px;
    font-weight: 100;
    
}